{% extends 'base.html' %}
{% load static %}

{% block title %}Product List{% endblock %}

{% block content %}
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category }}</td>
                <td><img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
